@import "tailwindcss";

@theme inline {
  /* Text */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Color */
  --color-vex-bg: var(--vex-bg);
  --color-vex-card: var(--vex-card);
  --color-vex-border: var(--vex-border);
  --color-vex-text: var(--vex-text);
  --color-vex-text-muted: var(--vex-text-muted);
  --color-vex-accent: var(--vex-accent);
}

:root {
  --vex-bg: #0f172a;
  --vex-card: #1e293b;
  --vex-border: #334155;
  --vex-text: #e2e8f0;
  --vex-text-muted: #94a3b8;
  --vex-accent: #5eead4;
}

body {
  background: var(--vex-bg);
  color: var(--vex-text);
  font-family: var(--font-sans);
}